<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.5.1" targetFramework="net472" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net472" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net472" />
  <package id="Resource.Embedder" version="2.1.1" targetFramework="net472" />
</packages>